:root{
    --white-color:#fff;
    --red-color:rgb(220,38,38);
    --orange-color:rgb(249,115,22);
    --black-color:rgb(0,0,0);
}
* {
    box-sizing:inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif; 
    box-sizing: border-box;
}

.grid{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}
